/* ======================================================
   Feature — Navbar
   Location: css/sections/navbar.css
   ====================================================== */

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: rgba(17, 16, 14, 0.92);
  backdrop-filter: blur(12px);
}

.navbar {
  max-width: var(--content-width);
  margin: auto;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  color: var(--text-nav);
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}
